*.class
*~
*.o
momose/momosepref.xml
momose/configs/*
momose/logs/*
momose/output/*
momose/scenarios/*
plotting/graphs/*
momosecpp/output/*
momosecpp/configs/*
momosecpp/src/momose
scripts/pbs_script.*
*.DS_Store
